@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Clash Display', sans-serif;
  src: url(../../public/fonts/ClashDisplay-Regular.otf);
  src: url(../../public/fonts/ClashDisplay-Semibold.otf);
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #0f1011;
  font-family: 'Clash Display';
}
