# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Next.js
.next
/target

# IDE - VSCode
.vscode/*
!.vscode/settings.default.json
!.vscode/tasks.default.json
!.vscode/launch.default.json
!.vscode/extensions.default.json

.env*
!.env.example

apps/cli/target
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
build
/target/target
