@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@tremor/react/dist/esm/tremor.css';

@layer base {
  @font-face {
    font-family: 'Clash Display';
    src: local(''), url('/fonts/ClashDisplay-Regular.woff') format('woff'),
      url('/fonts/ClashDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Clash Display';
    src: local(''), url('/fonts/ClashDisplay-Medium.woff') format('woff'),
      url('/fonts/ClashDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #0f141a;
  color: white;
  font-family: 'Clash Display';
}
